/* CONTAINER BANCOS */
/* FORM MODALS */

.modal_button {
  margin-top: 1.2rem;
  text-align: center;
}

/* MENU SUPERIOR */

.container-logo {
  width: 300PX;
}

/* MENU LATERAL */

.title_menu_lateral {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  border-bottom: 2px solid #5e7fde;
}

.dados-form {
  margin-top: 1.1rem;
}

.container-nav {
  margin-bottom: 1.2rem;
}

.container-nav i {
  margin-right: 15px;
}

#accordionSidebar {
  margin-top: 150px;
}

#accordionSidebar .btn, .btn-group {
  width: 170px;
  text-align: left;
}

#dataSelecionada {
  width: 100%;
  font-size: 15px;
}

/* MEDIA QUERIES */

/* MENU LATERAL */

@media (max-width: 767px) {
  #accordionSidebar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 767px) {
  #accordionSidebar .btn, .btn-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .title_menu_lateral .spanDois {
    display: none;
  }
}

@media (max-width: 767px) {
  #accordionSidebar .btnAdicionar {
    border-radius: 05px;
  }
}

@media (max-width: 767px) {
  .container-nav {
    width: 5.0rem;
  }
}

@media (max-width: 576px) {
  .container-logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .container-nav i {
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 767px) {
  #dataSelecionada {
    height: 50px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #transactionsTable {
    font-size: .9rem;
  }
}